<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>todos</title>
    <link rel="stylesheet" type="text/css" href="css/index1.css">
</head>

<body>
    <section class="todoapp">
        <div>
            <header class="header" >
                <h1>todos</h1>
                <input 
                    class="new-todo" 
                    placeholder="请输入内容"
                    v-model.trim="val"
                    @keyup.13="add">
            </header>
            <section class="main">
                <input 
                    class="toggle-all" 
                    type="checkbox" 
                    :checked="all"
                    @click="changeAll"
                >
               
                <ul class="todo-list">
                    <li class="active"
                        @dblclick="replace(val,key)"
                        :class="{
                            completed:val.checked,
                            editing:val.onoff
                        }"
                        v-for="(val,key) in ary"
                    >
                  <div class="view">
                            <input 
                                class="toggle" 
                                type="checkbox" 
                                v-model="val.checked"
                            >
                            <label>{{val.txt}}</label>
                            <button 
                                class="destroy"
                                @click="rm(val.id)"
                            ></button>
                        </div>
                        <input 
                            class="edit"
                            ref="edit"
                            @blur="off(val,$event)"
                            @keyup.esc="onoff_FN(val.id,false)"/>
                    </li>
                </ul>
            </section>
            {{ary}}
        </div>
    </section>
<script src="vue.js"></script>
<script src="index.js"></script>
</body>
</html>
