<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <script src="vue.js"></script>
    <div id="app">
            <button
            @click = 'fn(key)'
            v-for='(val,key) in btns'
            >{{val}}</button>
            <div
            v-for='(val,key) in content'
            v-show="block ===key"
            >{{val}}</div>
    </div>
    <script>    
        const vm = new Vue({
          el:'#app',
          data:{
              block:0,
              btns:['按钮1','按钮2','按钮3'],
              content:[1111,222222,3333333]
          },
          methods:{
              fn(num){
                this.block = num;
                console.log(this.block)
              }
          }
        })
    </script>
</body>
</html>