<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-family: "黑体";
      }

      ul,
      li {
        list-style: none;
      }

      .active {
        background: orange;
      }

      #box {
        width: 300px;
        height: 300px;
        margin: 50px auto;
      }
      #box div {
        width: 200px;
        height: 100px;
        border: 1px solid rgb(255, 50, 50);
        margin: 10px 0;
      }
    </style>
  </head>

  <body>
    <div id="box">
      <button class="active" @click="fn(key)" v-for="(val,key) in btns">
        {{val}}
      </button>
      <div v-for="(val,key) in content" v-show="block === key">{{val}}</div>
    </div>

    <script src="vue.js"></script>
    <script>
      const vm = new Vue({
        el: "#box",
        data: {
          block: 0,
          content: ["这是第一个", "这是第二个", "这是第三个"],
          btns: ["按钮一", "按钮二", "按钮三"]
        },
        methods: {
          fn(n) {
            this.block = n;
          }
        }
      });
    </script>
  </body>
</html>
