<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        #box{
            width: 100px;
            height: 100px;
            background: powderblue;
        }
    </style>
</head>
<body>
    <script src="vue.js"></script>
    <div id="app">
        <input type="text" @input='change(1,$event)'/>
        <!-- <input type="text" v-model='val' @keyup.13='add'>
        <button @click='add'>发送</button>  -->
      
         <ul>
            <li v-for="val in ary">{{val}}</li>
        </ul>
       <!--  <div id="box" @click='click1'>click1
             <div id="box2" @click.stop='click2'>click2</div>
        </div> 
        <button @click.once='once'>仅仅点一次</button> -->
    </div>
    <script>
    new Vue({
        el:'#app',
        data:{
            ary:[],
            val:''
        },
        methods:{
            change(num,ev){
                this.val = ev.target.value;
                console.log(this.val)
            },
            // add(){
            //    this.ary.push(this.val); 
            // },
            // click1(){
            //     console.log('click1')
            // },
            // click2(){
            //     console.log('click2');
            // },
            // once(){
            //     console.log(1);
            // }
        }
    })
    </script>
</body>
</html>